<!DOCTYPE html>
<html>
<head>
    <title>Starbucks Order</title>
</head>
<body>
    <h1>Place Your Order</h1>
    <form method="POST" action="/order">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>
        <label for="drink">Drink:</label>
        <input type="text" id="drink" name="drink" required><br><br>
        <label for="size">Size:</label>
        <input type="text" id="size" name="size" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
